//   Created by maihuy on 19/06/2014.

doctype html
html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
            var loginWindow = null;
            var openTinizenLogin= function() {
              //loginWindow = window.open('!{dialogAuthorizeURL}');
              loginWindow = window.open('/login-redirect', "loginWindow", "height=600,width=700");
              /*var i = setInterval(function () {
                if (loginWindow.closed)
                  clearInterval(i);
                  window.location.reload()
              }, 1e3);*/
            }



        body
        h1 Hello
            span= user.full_name || user
        #container.col
            if youAreUsingJade
                p You are amazing
            else
                p Get on it!
            p.
              Jade is a terse and simple templating language with a
              strong focus on performance and powerful features.

            unless user.full_name
                button#login(onclick="openTinizenLogin()") Login
            else
                form(action="/logout", method="post")
                    button#logout(type="submit") Logout

