//   Created by maihuy on 19/06/2014.

doctype html
html(lang="en")
    head
        title= pageTitle
        script(type='text/javascript').
            var loginWindow = null;
            var openTinizenLogin= function() {
              loginWindow = window.open('/login-redirect', "loginWindow", "height=600,width=700");
            }

        body
        h1 Hello
            span= user.full_name || user
        #container.col
            p This is tutorial for using tiNiZen oauth2!

            unless user.full_name
                button#login(onclick="openTinizenLogin()") Login
            else
                form(action="/logout", method="post")
                    button#logout(type="submit") Logout

